/* Your app custom styles here */

@import url("margin-and-padding-helpers.css");

    /*Override Framework7 variables*/
    :root {
        --f7-navbar-title-text-align: center;
        --f7-tabbar-link-active-color:#ef4700;
        --f7-theme-color:#ef4700;
    }

    .circle-cropped-img{
        background-color: #000000;
        background-image:url('../static/images/tower.jpg');
        width:40px;
        height:40px;
        background-size: cover;

        /*center the image vertically and horizontally*/
        background-position: top center;

        border-radius:50%;
    }
    
    /*Change Framework7 navbar-bg class color property*/
    .navbar-bg{
        background-color: #ef4700;
    }

    .navbar-custom{
        max-height:47px;
    }
    
    .navbar-title-custom{
        color:white;
        width:100%;
        padding-right:50px;
    }

    .center-me-horizontal{
        margin-left:auto;
        margin-right:auto;
    }

    .box-sizing-border-box{
        box-sizing: border-box;
    }

    .divider{
        border-bottom:1px solid #666666;
        width:100%;
    }

    /*
        *Override default button styles, courtesy of https://css-tricks.com/overriding-default-button-styles/
        */
    .button-empty {
        display: inline-block;
        border: none;
        text-decoration: none;
        white-space: normal;
        margin: 0;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        }

    .button-neutral{
        max-width:300px;
        padding: 0.4em;
        font-family:Arial, Helvetica, sans-serif;
        font-size:0.85em;
        background: #ffffff;
        color: #000000;
        border-radius:10px;
        border: 1px solid #ababab;
    }
    
    .button-neutral.active{
        display:flex;
        align-items: center;
        justify-content: center;
        background: #315c82;
        color: #FFFFFF;
    }

    .button-neutral.active:before{
        content:"\2714";
        margin-right:2px;
        font-size: 1.5em;
        line-height:0.75em;
    }

        /*
            *Technique courtesy of https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
            */
    div.line-at-sides-title{
        border-bottom:1px solid #666666;
        line-height:0.1em;
        width:100%;
        text-align:center;
    }

    /*
    *Added child combinator to make the usage clearer
    */
    div.line-at-sides-title>span{
        color:#585555;
        font-weight:bold;background:#FFFFFF;
        font-size:1.1em;
        padding-left:20px;
        padding-right:20px;
    }
    
    .text-area-outlined-rounded{
        border-radius:10px;
        border:1px solid #ababab;
        font-family:Arial, Helvetica, sans-serif;
        font-style:italic;
        font-size:0.95em;
        width:100%;
        columns: #000000;
        padding:10px;
    }

    .link-to-more{
        color:#275b9d;
        text-decoration: underline;
        text-align:center;
        font-weight:bold;
    }

    .location-container{
        display:flex;
        align-items:center;
    }

    .location-name-header{
        font-size:1.1em;
        color:#585555;
        font-weight: bold;
        margin-bottom:-1px;
    }

    .location-address{
        color:#585555;
        font-size:0.9em;
    }

    /*Single use elements below*/

    #info-med-abc-tower{
        font-size:1.1em;
        color:#585555;
    }

    #warning-med-fire{
        font-size:130%;
        color:#e34234;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #warning-big-alert{
        font-size:410%;
        color:#e34234;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #info-med-proceed-to-wip{
        background-color:#000000;
        color:#FFFFFF;
        font-size:1.7em;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        box-sizing:border-box;
    }
    
    #info-med-prepare-area-for-potential{
        min-height:68px;
        background-color:#e34234;
        color:#FFFFFF;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        box-sizing:border-box;
    }